<a href="https://colab.research.google.com/github/edinesh1008/streamlit/blob/master/Cybercrime_ML_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    "Fraud_Type":[1,2,1,3,2,1,3,2,1,3],
    "Amount":[5000,12000,8000,15000,6000,4000,20000,9000,7000,25000],
    "Latitude":[13.08,12.97,17.38,19.07,28.70,13.06,11.01,9.92,10.79,15.29],
    "Longitude":[80.27,77.59,78.48,72.87,77.10,80.23,76.95,78.11,78.70,74.12],
    "ATM_Location":["Chennai","Bangalore","Hyderabad","Mumbai","Delhi","Tambaram","Coimbatore","Madurai","Trichy","Goa"]
}

df = pd.DataFrame(data)

df.to_csv("fraud_data.csv",index=False)

print("Dataset Created")

Dataset Created

In [2]:
display(df)

   Fraud_Type  Amount  Latitude  Longitude ATM_Location
0           1    5000     13.08      80.27      Chennai
1           2   12000     12.97      77.59    Bangalore
2           1    8000     17.38      78.48    Hyderabad
3           3   15000     19.07      72.87       Mumbai
4           2    6000     28.70      77.10        Delhi
5           1    4000     13.06      80.23     Tambaram
6           3   20000     11.01      76.95   Coimbatore
7           2    9000      9.92      78.11      Madurai
8           1    7000     10.79      78.70       Trichy
9           3   25000     15.29      74.12          Goa

In [3]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)

In [8]:
import pandas as pd

input_data = pd.DataFrame([{'Fraud_Type': 1, 'Amount': 6000, 'Latitude': 13.08, 'Longitude': 80.27}])
prediction = model.predict(input_data)
print(prediction)

['Chennai']

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle

# Input features
X = df[['Fraud_Type','Amount','Latitude','Longitude']]

# Output target
y = df['ATM_Location']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

# Create model
model = RandomForestClassifier()

# Train model
model.fit(X_train,y_train)

print("Model Training Completed")

Model Training Completed

In [6]:
pickle.dump(model, open("fraud_model.pkl","wb"))

print("Model Saved")

Model Saved